<section id="gallery" class="py-24 bg-white fade-in" *ngIf="config$ | async as config">

  <div class="max-w-6xl mx-auto px-6">

    <h2 class="text-3xl md:text-4xl font-heading text-center text-gray-900">
      Our Café Moments
    </h2>

    <p class="text-center text-gray-600 mt-4">
      A glimpse of coffee, comfort and conversations
    </p>

    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 mt-14">

      <div
        *ngFor="let img of config.gallery"
        class="overflow-hidden rounded-lg"
      >
        <img
          [src]="'/gallery/' + img.image"
          class="w-full h-64 object-cover hover:scale-110 transition duration-300"
        />
      </div>

    </div>

  </div>

</section>